{% extends 'Accounts/base.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" href="{% static 'css/movie.css' %}">

      <!-- #BANNER SECTION -->
      <section class="banner">
        <div class="banner-card">

          <img src="{% static 'images/The Lord of the RingsThe Return of the King.jpg'%}" class="banner-img" alt="">
           

        </div>
      </section>

      <!-- CATEGORY SECTION -->

      <section class="category" id="category">

        <h2 class="section-heading"  >Lord of the Rings
            <p class="Ticket"> <a href=https://in.bookmyshow.com/ahmedabad/movies/the-lord-of-the-rings-the-return-of-the-king/ET00065550 target="_blank"> <b>Book Ticket</b> <iconify-icon icon="ep:ticket" style="color: white;"></iconify-icon></a></p>
        </h2>   
            <h3 style="padding-bottom: 20px;">  
                <a href="https://youtu.be/x8UAUAuKNcU" target="_blank" > Watch The Trailer <ion-icon name="play-circle-outline" ></ion-icon>  </a>
              <p> <iconify-icon icon="fa:imdb" style="color: yellow;"></iconify-icon>9</p>
              <p> Action , Adventure, Drama</p>
            </h3>       
       
        <h4 style="color: #dfac0d ;">Overview</h4>
        <p  style="color: whitesmoke ;">Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.</p>

        <h3 style="padding-top: 20px;" > Where To Watch </h3>
        <div class="where_to_watch"> <a href=https://www.netflix.com/tr-en/title/60004480 target="_blank">   Netflix <iconify-icon icon="mdi:netflix" style="color: red;"></iconify-icon> </a></div>
        <div class="where_to_watch"> <a href=https://www.primevideo.com/detail/amzn1.dv.gti.1a0d302f-2fc3-4db4-8219-d6b277fbceb8/ref_=dvm_liv_oth_cl_pp_s_ctv_30s_rsn_sm_pcp_mtk_beyond_en/?ref_=dvm_pds_gen_in_as_s_gt_dsaallwebd_mkw_s-dc&mrntrk=pcrid_580559066062_slid__pgrid_67214826146_pgeo_9299439_x__ptid_dsa-19959388920 target="_blank"> Amazon Prime <ion-icon name="logo-amazon" style="color:skyblue ;" ></ion-icon> </a></div>
      </section>

    


    <!-- FOOTER SECTION -->

    

  </div>


  

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>


  {% endblock %}