{% extends 'Accounts/base.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" href="{% static 'css/movie.css' %}">

      <!-- #BANNER SECTION -->
      <section class="banner">
        <div class="banner-card">

          <img src="{% static 'images/Saving Private Ryan.jpg'%}" class="banner-img" alt="">
           

        </div>
      </section>

      <!-- CATEGORY SECTION -->

      <section class="category" id="category">

        <h2 class="section-heading"  >Saving Private Ryan
            <p class="Ticket"> <a href=https://in.bookmyshow.com/ahmedabad/movies/saving-private-ryan/ET00002928 target="_blank"> <b>Book Ticket</b> <iconify-icon icon="ep:ticket" style="color: white;"></iconify-icon></a></p>
        </h2>   
            <h3 style="padding-bottom: 20px;">  
                <a href="https://youtu.be/9CiW_DgxCnQ"  target="_blank" > Watch The Trailer <ion-icon name="play-circle-outline" ></ion-icon>  </a>
              <p> <iconify-icon icon="fa:imdb" style="color: yellow;"></iconify-icon>8.6</p>
              <p> Action , Adventure, Drama</p>
            </h3>       
       
        <h4 style="color: #dfac0d ;">Overview</h4>
        <p  style="color: whitesmoke ;"> Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.</p>

        <h3 style="padding-top: 20px;" > Where To Watch </h3>
        <div class="where_to_watch"> <a href=https://www.primevideo.com/detail/Saving-Private-Ryan/0HOL83IEVH27ZH50BTYO1BZ8PY target="_blank"> Amazon Prime <ion-icon name="logo-amazon" style="color:skyblue ;" ></ion-icon> </a></div>
      </section>

    


    <!-- FOOTER SECTION -->

    

  </div>


  

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

  {% endblock %}

