{% extends 'Accounts/base.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" href="{% static 'css/movie.css' %}">

      <!-- #BANNER SECTION -->
      <section class="banner">
        <div class="banner-card">

          <img src="{% static 'images/nOWAYHOME.jpg'%}" class="banner-img" alt="">
           

        </div>
      </section>

      <!-- CATEGORY SECTION -->

      <section class="category" id="category">

        <h2 class="section-heading"  >Spider-Man Homecoming
            <p class="Ticket"> <a href=https://in.bookmyshow.com/ahmedabad/movies/spider-man-no-way-home/ET00310790 target="_blank"> <b>Book Ticket</b> <iconify-icon icon="ep:ticket" style="color: white;"></iconify-icon></a></p>
        </h2>   
            <h3 style="padding-bottom: 20px;">  
                <a href="https://youtu.be/rk-dF1lIbIg"target="_blank" > Watch The Trailer <ion-icon name="play-circle-outline" ></ion-icon>  </a>
              <p> <iconify-icon icon="fa:imdb" style="color: yellow;"></iconify-icon>7.4</p>
              <p> Action , Adventure, Drama</p>
            </h3>       
       
        <h4 style="color: #dfac0d ;">Overview</h4>
        <p  style="color: whitesmoke ;">Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter-ego Spider-Man, and finds himself on the trail of a new menace prowling the skies of New York City.</p>

        <h3 style="padding-top: 20px;" > Where To Watch </h3>
        <div class="where_to_watch"> <a href=https://www.netflix.com/in/title/81465707 target="_blank">   Netflix <iconify-icon icon="mdi:netflix" style="color: red;"></iconify-icon> </a></div>
        <div class="where_to_watch"> <a href=https://www.amazon.com/Spider-Man-Way-Home-Tom-Holland/dp/B09NMDWYDL target="_blank"> Amazon Prime <ion-icon name="logo-amazon" style="color:skyblue ;" ></ion-icon> </a></div>
      </section>

    


    <!-- FOOTER SECTION -->

    

  </div>


  

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

  {% endblock %}
